# Dependencias 
mysql-connector-python==8.1.0

# gráficas
# matplotlib==3.7.2
# pandas==2.0.3
# seaborn==0.12.2

#  manejo de fechas
# python-dateutil==2.8.2

# Para exportar a Excel
# openpyxl==3.1.2